@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.header {
    width: 100vw;
    height: 12vh;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: sticky;
}

.img {
    width: 5%;
    height: auto;
    margin-left: 1em;
}

.buttons2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;

}

.signup {
    color: #8e1c1e;
    background-color: transparent;
}

.signin, .carrinho {
    background-color: #8e1c1e;
    color: white;
}

.signin1,
.signup1,
.carrinho {
    font-family: "Poppins";
    padding: 10px;
    width: 10%;
    border-radius: 10px;
    font-size: 1.5vw;
    border: none;
}

.signin1:hover,
.signup1:hover,
.carrinho:hover {
    opacity: .7;
    transition: .2s;
}

.signin1:not(:hover),
.signup1:not(:hover),
.carrinho:not(:hover) {
    transition: .2s;
}

.signin1:active,
.signup1:active,
.carrinho:active {
    transform: translateY(1px);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.pizzas, .bebidas, .sobremesas{ 
  background-color: transparent;
  border: 4px solid #8e1c1e;
  border-radius: 10px;
  color: #8e1c1e;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  text-transform: lowercase;
  font-family: "Poppins";
width: 20%;
  border-radius: 50px;
  font-size: 1.5vw;
 

}
.pizzas:hover, .pizzas:focus, .bebidas:hover, .bebidas:focus, .sobremesas:hover, .sobremesas:focus{
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    color: #fff;
    outline: 0;
    font-family:  "Poppins"; 
}

.pizzas:hover, .bebidas:hover, .sobremesas:hover{
    box-shadow: 0 0 40px 40px #8e1c1e inset;
}
