@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    overflow: hidden;
}

.screen {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin-left: 10px;
}


.title1 {
    font-family: "Poppins";
    font-size: 48pt;
    width: 60%;
    padding-top: 1em;
    margin: auto;
    text-align: center;
    color: #fff;
}

.back {
    background-image: url("../../assets/bg-index.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(.7);
    position: absolute;
    z-index: -9;
}

