@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap");

.TudoRealizado{
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;

}

.imgPagamento{
    color: #698C3D;
}

.titlePagamento{
    font-family: "Poppins";
    font-size: 2vw;
    color: #8e1c1e;
    margin: .5em 0;
    font-weight: 600;
}