
.header {
    width: 100vW;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8e1c1a;
    gap: 50px;
}

.title {
    color: #fff;
    font-size: 25pt;
    font-family: "Poppins";
    text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
 
}
.StockPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }