.containerInfo {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  flex: 0 0 auto;
  position: relative;
  box-shadow: 1px 2px 21px -7px rgba(0, 0, 0, 0.75),
    0px 8px 10px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 21px -7px rgba(0, 0, 0, 0.45),
    0px 8px 10px -5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 2px 21px -7px rgba(0, 0, 0, 0.75),
    0px 8px 10px -5px rgba(0, 0, 0, 0.75);
}

.infoItem {
  display: block;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.secundario {
  font-weight: bold;
  font-size: 20px;
}

.sidebarPedido {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 360px;
  background: #ffffff;
  left: 0;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}

.sidebarPedido::-webkit-scrollbar {
  display: none;
}

.containerInfoPedido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  position: relative;
  background-color: aqua  ;
}

.containerInfoPedido::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
}

.quantidade,
.itens,
.valor {
  flex: 1;
  text-align: center;
  position: relative;
}

.quantidade::after,
.itens::after,
.valor::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;

}
