@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.background{
    width: 100vW;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.header {
    width: 100vW;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8e1c1a;
}
.title {
    color: #fff;
    font-size: 25pt;
    font-family: "Poppins";
    text-transform: uppercase;
}
.logo {
    height: 95%;
    
}
.container {
    width: 100vw;
    height: 90vh;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
    
 
}
.block {
    width: fit-content;
    height:fit-content;
    padding: 2em;
    background-color: #f7f7f7;
    align-items: center;
    text-align: center;
    border-radius: 20px

}

.input, .button {
    margin: .7em 0;
    border-radius: 8px;
    padding: .5em 1em ;
    font-size: 15pt;
    border: 2px solid #000;
    width: calc(60% - 1em);
    font-family: "Poppins";
}
.buttonLogin{
    box-sizing: border-box;
    width: 200px;
    height: 75px;    
    color: #fff;
    background: #8E1C1A;
    border: 3px solid #000;
    border-radius: 10px;
}

.info {
    font-family: "Poppins";
    margin: auto;
    font-weight: bold;
}
.buttonLogin:hover {
    opacity: .9;
    transition: linear .2s;
    transform: scale(1.01);
    
}
.buttonLogin:not(:hover) {
    transition: linear .2s;
}
.buttonLogin:active {
    background-color: #aa1818;
    opacity: 1;
} 


