@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.imagePizza {
  min-width: auto;
  max-width: 360px;
  min-height: auto;
  max-height: 220px;
  position: relative;
  display: flex;
  align-self: center;
}

.ContainerPizzas {
  width: 250px;
  height: 500px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/* Estilos dos itens da tela principal */
.itemContainer.moveItems {
  /* Adicione aqui os estilos de movimento desejados */
  /* Por exemplo, para mover os itens para a direita em 200 pixels: */
  transform: translateX(200px);
}

.adicionar,
.fecharCarrinho,
.limparCarrinho,
.buttonFinalisarPedido,
.remover {
  margin-right: 30px;
  margin-left: 30px;
  background-color: transparent;
  border: 1px solid transparent;
}

#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}

#sidebar::-webkit-scrollbar {
  display: none;
}
