@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.imagePizza {
  display: block;
  margin: 0 auto; /* Adicionado para alinhar a imagem ao centro */
  max-width: 100%;
  max-height: 220px;
}
.observacao{

}
.ContainerPizzas {
  width: auto;
  height: 500px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.numeroPedido,
.numeroMesa{
  display: block;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.numero{
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}


.itemContainer.moveItems {
  transform: translateX(calc(100% - 360px));
}

.adicionar,
.fecharCarrinho,
.limparCarrinho,
.buttonFinalisarPedido,
.remover {
  margin-right: 30px;
  margin-left: 30px;
  background-color: transparent;
  border: 1px solid transparent;
}

#sidebar {
  position: sticky;
  max-width: 360px;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}

#sidebar::-webkit-scrollbar {
  display: none;
}
.selectContainer {
  margin-bottom: 5px;
}
