@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

aside{

}

.imagePizza {
    min-width: auto;
    max-width: 220px;
    min-height: auto;
    max-height: 220px;
    top: absolute;
    position: relative;
    display: flex;
    align-self: center;
}