.containerFaturamento,
.containerBalcao {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 250px;
  display: inline-block;
}
.descrição {
  text-align: center;
}
.buttonContainers {
  background-color: #c14325;
  width: calc (50% - 2em);
  font-size: 50px;
  border-radius: 15px;
  margin: 0 10px;
  color: #fff;
  border: 1px solid transparent;
}
.conteudo {
  height: 250px;
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10px); /* Substitua "80px" pela altura do seu header */
}
.logOut {
  margin-top: 15em; /* Empurra o elemento para a parte inferior */
}