@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

#container {
    width: 100%;
    height: fit-content;
}

.containerCarrinho1{
    background-color: #efefef;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    padding-top: 10vw;
    padding-bottom: 20vw;
    gap: 2.5vw;
    padding-left: 2.5vw;
}

.txtSeusItens{
    
}